.post-container
    padding-top: 44px

.post-detail,
.post-comment
    padding: 10px 15px

    $item-bg-color = #dfdfdf

    // border
    border-bottom: 1px solid $item-bg-color

    // 1px border on retina
    background-size: 0
    +retina()
        border: none
        background-image: linear-gradient(0deg, $item-bg-color, $item-bg-color 50%, transparent 50%)
        background-position: bottom
        background-size: 100% 1px
        background-repeat: no-repeat

    [data-role~=meta]
        display: block
        font-size: rem(12)
        font-weight: 300
        line-height: rem(18)
        color: #9b9b9b
        clearfix()

    [data-role~=title]
        padding: 3px 0
        font-size: rem(18)
        line-height: rem(24)
        font-weight: 700
        color: #145fd7
        a
            text-decoration: none
            color: inherit
        i
            margin-left: 5px
            font-size: rem(14)
            vertical-align: middle

    [data-role~=time]
        float: right

    [data-role~=author]:after
        content: ' · '
