// common
@require 'rider-ui/default'
@require 'icon'

// views
@require '../list'
@require '../post'

#splash-screen
    absolute: 0
    z-index: 999
    bg: 'splash.png'
    background-color: #4a87ee
    background-position: center 36%
