font-face('saber-showcase', 'font/saber-showcase')

[class^="icon-"], [class*=" icon-"]
    font-family: 'saber-showcase'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1

     // Better Font Rendering
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-gear:before
    content: "\f013"

.icon-rotate-right:before
    content: "\f01e"

.icon-left:before
    content: "\f053"

.icon-right:before
    content: "\f054"

.icon-external-link:before
    content: "\f08e"

.icon-thumbs-up:before
    content: "\f164"
